#allsecure_exchange_sandbox {
	margin: 0 auto 10px auto!important;
	padding: 3px 0 3px 0;
	width: 100%;
	font-size: 13px!important;
	font-weight: 700;
	color: red!important;
	background-color: #fba;
	text-align: center;
	border-bottom: red solid 3px;
}

#allsecure_exchange_payee {
    margin: 0 auto 10px auto!important;
    font-size: small;
}

#allsecure_exchange_seamless label:before {
    display: none;
}

#allsecure_exchange_seamless label {
    padding: 0px;
}

#allsecure_exchange_errors {
    color: red;
    line-height: 1em;
    width: 100%;
	font-size: 0.8em;
	clear: both;
	margin-top: 15px;
}

.allsecure_exchange_visible{
    display: block!important;
	line-height: 130%;
}

.has-error {
}

#allsecure_exchange_banner {
	max-width: 1074px;
	width: 100%;
	margin: 10px auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
#allsecure_exchange_banner > * {
	margin: 0 15px 15px 15px;
}
#allsecure_exchange_banner img {
	height: 36px;
	width: auto;
}

@media (max-width:480px) {
	#allsecure_exchange_banner img {
		height: 26px;
	}
}
